<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
</head>
<body>
    <header>
        <h1>Welcome to My Basic HTML Page</h1>
    </header>
    <main>
        <p>String: {{ stringv }}</p>
        <p>Int: {{ intv }}</p>
        <p>Float: {{ floatv }}</p>
        <p>Bool: {{ boolv }}</p>

        <p>List: {{ listv }} :: </p>

        {% for val in listv %}
            <p>{{ val }}</p>
        {% endfor %}

        <p>Dict: {{ dictv }} :: </p>

        {% for key, val in dictv.items() %}
            <p>{{ key }} = {{ val }}</p>
        {% endfor %}
    </main>
    <footer>
        <p>Python Workshop - Web Development 101</p>
    </footer>
</body>
</html>
